@page
@model IndexModel
@System.Globalization.CultureInfo.CurrentUICulture
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Razor Pages Movie Web App</h1>
    <p>Created accordingly to the <a href="https://docs.microsoft.com/pl-pl/aspnet/core/tutorials/razor-pages/?view=aspnetcore-2.2">tutorial</a> by <a href="https://github.com/konradchmielewski">Konrad Chmielewski</a>. Click on RpMovie button to start using the app.</p>
